.contenedorSaludo {
  position: relative;
}

.contenedorSaludo img {
  max-width: 100%;
  height: auto;
  display: block;
}

.saludo {
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-weight: bolder;
  font-size: xx-large;
  text-shadow: 0 0 0 0 black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  padding: 10px;
}

.fade-in {
  opacity: 0;
  transition: opacity 1.5s ease-in;
}

.fade-in.visible {
  opacity: 1;
}
